<?xml version="1.0" encoding="UTF-8"?>
<templates id="template" xml:space="preserve">

<header t-name="Menu">
    <nav class="o_main_navbar">
        <ul class="o_menu_apps"/>
        <a class="o_menu_brand" role="button"/>
        <button aria-label="Toggle menu" class="fa fa-bars float-right d-block d-md-none o_mobile_menu_toggle" title="Toggle menu" type="button" />
        <ul class="o_menu_sections" role="menu"/>
        <ul class="o_menu_systray" role="menu"/>
    </nav>
</header>

<t t-name="AppsMenu">
    <li class="dropdown">
        <a class="full toggle-button" data-toggle="dropdown" data-display="static" href="#">
            <i class="fa fa-th"/>
        </a>
        <div class="dropdown-menu apps-menu" role="menu">
            <div class="top-title">
                <h3 class="app-title">Apps</h3>
                <i class="fa fa-times"></i>
            </div>
            <div class="menu-items">
                <t t-foreach="widget.getApps()" t-as="app">
                    <a role="menuitem"
                        class="dropdown-item o_app"
                        t-att-data-menu-id="app.menuID"
                        t-att-data-menu-xmlid="app.xmlID"
                        t-att-data-action-id="app.actionID">
                            <div class="app_icon">
                                <img t-if="app.web_icon_data" t-att-src="app.web_icon_data" />
                            </div>
                            <div class="app_caption"><t t-esc="app.name"/></div>
                    </a>
                </t>
            </div>
        </div>
    </li>
</t>
</templates>
