.pos {
  .pos-topheader {
    background: $header_color;
    .pos-branding {
      .pos-logo {
        height: 20px;
      }
    }
    .order-tabs {
      .order-selector {
        .orders {
          .order-button {
            background-color: $secondary_color;
            color: #fbeaf2;
            &.selected {
              color: $main_color;
              background-color: #fbeaf2;
              .order-sequence,
              .deleteorder-button {
                color: #7e6d53;
              }
            }
          }
        }
      }
    }
  }
  .web-pos-receipt {
    padding: 10px;
    td > strong,
    td > span,
    td > div {
      font-size: 14px !important;
    }
  }
  .pos-content .screens {
    .product-screen {
      .sidebar {
        .payment-hook {
          .button {
            color: #fbeaf2;
          }
        }
      }
    }
  }
}
