
// ------- Kanban View Layout -------
.o_kanban_view {
    .o_kanban_record, .o_kanban_quick_create {
        -webkit-box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.05);
            -moz-box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.05);
            box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.05);
    }


    .oe_kanban_card, .o_kanban_record {
        .o_attachment_image > img {
            overflow: hidden;
            padding-top: 75%;

            .o_attachment_image {
                @include o-position-absolute(0, 0, 0, 0);
                background-size: cover;
                background-position: center;
                transform: scale(1.05);
                transition: all 0.3s;
            }

            &:hover .o_attachment_image {
                transform: scale(1);
            }
        }
    }
}
