@media screen and (max-width: 768px) {
    .o_menu_systray {
        width: 100%;
        display: flex !important;
        > li > a, > li > label {
            color: $o-main-text-color !important;
        }
        > li.show > a, > li.show > label {
            color: #FFF !important;
        }
        .o_user_menu {
            margin-left: auto !important;
        }
        .o_mail_systray_item, .o_debug_manager {
            .dropdown-menu-right {
                right: auto;
                left: 0;
            }
        }
        .o_mail_systray_item, {
            &.show .dropdown-toggle {
                float: left;
            }
            > .dropdown-menu.show {
                border: none;
                top: 92px;
                left: 0;
                right: 0;
                bottom: 0;
                position: fixed;
                padding-bottom: 0;
                max-height: 100%;
            }
            height: 46px
        }
    }
    .o_menu_sections {
        display: none !important;
    }
    .o_menu_sections.in_mobile_menu {
        display: flex !important;
        position: fixed;
        top: 45px;
        left: 0;
        right: 0;
        overflow: auto;
        bottom: 0;
        z-index: 2;
        flex-direction: column;
        background: #444;
        li {
            > a {
                height: auto;
                padding-left: 2rem;
            }
            > .dropdown-menu {
                display: flex;
                flex-direction: column;
                right: 0;
                background: #444;
                border: 0;
                box-shadow: none;
                margin: 0;
                padding: 0 0 0 2rem;
                .dropdown-item {
                    color: #FFF;
                    line-height: 46px;
                    height: 46px;
                    &:focus, &.active, &:active {
                        background-color: transparent;
                        color: $o-community-color;
                    }
                }
                > .dropdown-item {
                    padding: 0 10px
                }
                > .dropdown-header {
                    padding: 0 10px 0 10px;
                    color: #FFF;
                    font-size: 1.08333333rem;
                    line-height: 46px;
                    height: 46px;
                }

                > .o_menu_entry_lvl_3 {
                    padding-left: 2rem;
                }
            }
        }
    }
}

.o_main_navbar {
    background-color: $o-navbar-bg;
    color: white;
    border-button: 0;
    .toggle-button {
        font-size: 1.4rem;
        padding: 0 12px;
        background: $o-community-color;
    }

    > a, > button {
        padding: 0 $o-horizontal-padding 0 $o-horizontal-padding;
    }

    > .o_menu_brand {
        font-size: 16px;
    }

    .dropdown-menu.apps-menu.show {
        max-height: 100%;
        min-width: 0;
        top: 0;
        left: 0;
        width: 300px;
        bottom: 0;
        position: fixed;
        overflow: auto;
        margin-top: 0;
        padding: 1rem;
        border-radius: 0;
        .top-title {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 1rem;
            margin-bottom: 2rem;
            padding: 0 10px;
        }
        @media screen and (max-width: 375px) {
            width: 100%;
        }

        .app-title {
            margin: 0;
        }
        .menu-items {
            display: flex;
            flex-wrap: wrap;
            align-content: flex-start;
            > .dropdown-item {
                flex: 0 0 50%;
                max-width: 50%;
                display: flex;
                align-items: center;
                padding: 8px 10px;
                .app_icon {
                    flex: 0 0 26px;
                    img {
                        width: 100%;
                    }
                }
                .app_caption {
                    flex: 1;
                    margin-left: 1rem;
                }
            }
        }
    }
    .o_user_menu {
        .oe_topbar_avatar {
            height: 30px;
        }
    }
}
