.o_searchview {    
    .o_searchview_input_container {
        .o_searchview_facet {
            margin: 0 6px 0 0;

            .o_facet_values {
                display: flex;
                align-items: center;
            }
        }
    }
}
// Filters
.o_filters_menu {
    .o_searchview_extended_delete_prop { // delete condition button position
        @include o-position-absolute(10px, 4px);
    }
}
